/* Mejorar la línea divisoria */
.color-divider {
  display: flex;
  height: 8px;
  margin: 40px 0;
  border-radius: 5px;
  overflow: hidden;
}

.color-divider::before,
.color-divider::after,
.color-divider div {
  content: '';
  flex: 1;
  height: 100%;
}

.color-divider::before {
  background-color: #1a428a; /* Azul oscuro */
}

.color-divider div {
  background-color: #f9a01b; /* Naranja */
}

.color-divider::after {
  background-color: #ed1c24; /* Rojo */
}

.color-divider::before,
.color-divider::after,
.color-divider div {
  content: '';
  flex: 1;
  height: 100%;
}

.color-divider::before {
  background-color: #1a428a; /* Azul oscuro */
}

.color-divider div {
  background-color: #0085ca; /* Azul claro */
}

.color-divider::after {
  background: linear-gradient(to right, #f9a01b 50%, #ed1c24 50%);
}

.mensaje-principal {
  font-family: 'Arial Black', 'Impact', sans-serif; /* Fuente gruesa */
  font-size: 3rem; /* Tamaño grande */
  text-transform: uppercase; /* Todo en mayúsculas */
  color: #1a428a; /* Azul oscuro */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}


#inicio {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}

/* Título principal */
.mensaje-principal {
  font-family: 'Arial Black', 'Impact', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: #1a428a;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Caja de información con borde degradado */
.info-box {
  background-color: #fff;
  border-radius: 15px;
  border: 4px solid;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-image: linear-gradient(to right, #1a428a, #0082ca, #231E44) 1;
  color: #231E44;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Responsividad */
@media (max-width: 768px) {
  #inicio {
    text-align: center;
  }

  .info-box {
    margin-top: 20px;
  }
}
.carousel-item{
  padding: 2rem;
}
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 2rem;
}

